.companyContainer {
    display: flex;
    margin: 10px;
}

.companyButton {
    border: none;
    background: transparent;
    color: white;
    font-size: 40px;
    font-family: JosefinSans;
}

.companyButton:hover {
    color: #AFEEEE;
  }

  .companyModal {
      
  }