
@font-face {
  font-family: 'josefin-sans';
  src: local('Koala-Family'), url(./fonts/Koala-Family.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




