
@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url(./fonts/josefin-sans/JosefinSans-Regular.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




